{% from "_render_field.html" import render_field %}
{% extends "base.html" %}
{% block panel %} Login {% endblock %}
{% block title %} Login {% endblock %}
{% block mainblock %}
<div class="col-xl-6 col-sm-6 p-2">
    <div class="card card-common">
    <div class="form">
        <form action="/login" method="POST">
            <fieldset>
                <legend>Login</legend>
                {{ render_field(RegistrationForm.email, type="email", placeholder="Enter email", id="email") }}
                
                {{ render_field(RegistrationForm.password, type="password", placeholder="Enter password", id="password") }}
                
                <input type="checkbox" id="remember-me" name="remember-me">
                <label for="remember-me">Remember me</label>
                <br><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
</div>
{% endblock %}